.button {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .button {
        min-width: 200px;
    }
}

@media (max-width: 527px) {
    .button {
        min-width: 200px;
        width: 100%
    }
}