#header .MuiPaper-root .MuiPaper-elevation0 .MuiAppBar-root .MuiAppBar-positionFixed .MuiAppBar-colorPrimary .mui-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76px;
}
#content {
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
}